<fieldset class="form-group">
    <label for="exampleInputEmail1">Email id:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="user.username" placeholder="Enter Email">
        <label for="exampleInputEmail1">Message</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="user.address" placeholder="Enter Message">
</fieldset>

<!--<div class="feedbackSumit">-->
    <!--<a <button ng-click="" type="button" class="btn btn-primary" >   Submit </button></a>-->
<!--</div>-->


<!--<div class="alert alert-success alert-dismissable">-->
    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
    <!--Success! message sent successfully.-->
<!--</div>-->

<div class="feedbackSumit">
    <button>Send Message</button>
    <div class="alert alert-success alert-dismissable">
        <center>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </center>
        Success! message sent successfully.
    </div>

</div>